.super-mario {
    width: 200px;
    position: absolute;
    z-index: 5;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    z-index: 4;
  }
  
  .baloon {
    position: absolute;
    left: 250px;
    z-index: 1;
  
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    left: 270px;
    z-index: 2;
    top: 115px;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 550px;
    top: 200px;
    z-index: 3;
  }